<app-navbar></app-navbar>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<div *ngIf="visualizacao()" [ng2-loading]="showSpinner" class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="col-md-14">
        <button type="button" openCreate (click)="openCreate()" id="create" class="btn btn-block btn-primary">Novo Produto</button>
      </div>
      <div class="inner-addon right-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input class="form-control" type="text" name="search" id="inputSearch" placeholder="Busque pelo nome" [(ngModel)]="nome">
      </div>
      <div *ngIf="visualizacao()" class="table100 ver1 m-b-110">
        <div class="table100-head">
          <table>
            <thead>
            <tr class="row100 head">
              <th class="cell100 column1">Produto</th>
              <th class="cell100 column4">Ações</th>
            </tr>
            </thead>
          </table>
        </div>

        <div class="table100-body js-pscroll">
          <table>
            <tbody>
            <tr *ngFor="let produto of produtos | filter:nome | paginate: { itemsPerPage: 5, currentPage: p };" class="row100 body">
              <td class="cell100 column1">{{produto.nome}}</td>
              <td class="cell100 column4"><a (click)="openEditar(produto)">Editar</a>   |   <a (click)="openDelete(produto)">Excluir</a></td>
            </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="updateProduto()"[ng2-loading]="showSpinner" class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron col-md-8">
        <div class="row">
          <div class="col-md-10">
            <h1 class="display-3">Produtos</h1>
          </div>
          <div class="col-md-2">
            <a (click)="updateClose()" class="btn btn-outline-danger">
              <span class="glyphicon glyphicon-log-out" ></span> Voltar
            </a>
          </div>
        </div>
        <br>
        <form>
          <div>
            <p class="lead">Nome</p>
            <hr class="my-4">
          </div>
          <div class="row">
            <div class="col-md-12">
              <input [(ngModel)]="produtoSelecionado.nome" name="givenName" type="text" class="form-control">
            </div>
          </div>
          <hr class="my-4">
          <br>
          <div>
            <p class="lead">Categoria Id</p>
            <hr class="my-4">
          </div>
          <div class="row">
            <div class="col-md-12">
              <input [(ngModel)]="produtoSelecionado.categoriaCommerceId" name="familyName" type="text" class="form-control">
            </div>
          </div>
          <br>
          <div class="col-md-14">
            <button (click)="updateProdutoAcao(produtoSelecionado)" id="btProduto" type="button" class="btn btn-block btn-primary">Atualizar Produto</button>
          </div>
          <br>
          <div *ngIf="submitSucesso()" id="submitSucesso" class="alert alert-success" role="alert">
            <strong>{{produtoSelecionado.nome}}</strong> atualizado com sucesso.
          </div>
          <div *ngIf="submitFalha()" id="submitFalha" class="alert alert-danger alert-dismissible" role="alert">
            <strong>{{produtoSelecionado.nome}}</strong> atualizado criado com falha.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div *ngIf="createProduto()" [ng2-loading]="showSpinner" class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron col-md-8">
        <div class="row">
          <div class="col-md-10">
            <h1 class="display-3">Produtos</h1>
          </div>
          <div class="col-md-2">
            <a (click)="createClose()" class="btn btn-outline-danger">
              <span class="glyphicon glyphicon-log-out" ></span> Voltar
            </a>
          </div>
        </div>
        <br>
        <form>
          <div>
            <p class="lead">Nome</p>
            <hr class="my-4">
          </div>
          <div class="row">
            <div class="col-md-12">
              <input [(ngModel)]="produtoSelecionado.nome" name="givenName" type="text" class="form-control">
            </div>
          </div>
          <hr class="my-4">
          <br>
          <div>
            <p class="lead">Categoria Id</p>
            <hr class="my-4">
          </div>
          <div class="row">
            <div class="col-md-12">
              <input [(ngModel)]="produtoSelecionado.categoriaCommerceId" name="familyName" type="text" class="form-control">
            </div>
          </div>
          <br>
          <div class="col-md-14">
            <button (click)="createProdutoAcao(produtoSelecionado)" id="btProduto" type="button" class="btn btn-block btn-primary">Criar Produto</button>
          </div>
          <br>
          <div *ngIf="submitSucesso()" id="submitSucesso" class="alert alert-success" role="alert">
            <strong>{{produtoSelecionado.nome}}</strong>Produto criado com sucesso.
          </div>
          <div *ngIf="submitFalha()" id="submitFalha" class="alert alert-danger alert-dismissible" role="alert">
            <strong>{{produtoSelecionado.nome}}</strong>Produto criado com falha.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div *ngIf="deleteProduto()" [ng2-loading]="showSpinner" class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron col-md-8">
        <div class="row">
        <form>
          <div>
            <p class="lead">Deseja excluir o produto <strong>{{produtoSelecionado.nome}}</strong> ? </p>
            <hr class="my-4">
          </div>
          <div class="col-md-14">
            <button (click)="deleteProdutoAcao(produtoSelecionado)" id="btDeleteConfirm" type="button" class="btn btn-block btn-primary">Ok</button>
          </div>
          <br>
          <div class="col-md-14">
            <button (click)="deleteClose()" id="btDeleteCancel" type="button" class="btn btn-block btn-primary">Cancelar</button>
          </div>
          <br>
          <div *ngIf="submitFalha()" id="submitFalha" class="alert alert-danger alert-dismissible" role="alert">
            <strong>{{produtoSelecionado.nome}}</strong> deletado com falha.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>